.homePage {
	background: linear-gradient(
		rgba(243, 243, 243, 0.897),
		rgba(238, 238, 238, 0.5)
	);
	height: 100vh;
	padding-top: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.importButton {
	background: rgb(0, 153, 255);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 40px;
	border-radius: 7px;
	border: 1px solid rgb(0, 153, 255);
	box-shadow: 0 2px 10px rgb(0, 153, 255, 0.2);
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}

h1 {
	font-weight: 400;
}
